h1,h5{
	text-align: center;
}
h1{
	margin-top: 80px;
}

form{
	text-align: center;
}

#recommended{
	height: auto;
	margin-top: 20px;
}
#recommended>h2{
	text-align: center;
}

#content{
	margin-left: 50px;
	margin-right: 50px;
}
img{
	display: inline-block;
	margin: auto;
	width: 25%;
	padding: 0;
	border: 0;
}